body {
    font-family: Arial, sans-serif;
    background-color: #E0FFFF; /* Azul-celeste claro */
    color: #005F5F; /* Ciano escuro para contraste */
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #00CED1; /* Ciano escuro */
    color: white;
    padding: 20px;
    font-size: 1.5em;
}

nav {
    background-color: #00CED1;
    ; /* Verde-mar médio */
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none   ;
    display: inline-block;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    border-radius: 5px;
}

#conteudo {
    padding: 30px;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #00CED1;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
